// タブレットサイズ

// .message-wrapper {
//   width: 100%;
//   .container {
//     padding-top: 85px;
//     .caption {
//       margin-bottom: 60px;
//     }
//   }
// }

// .container {
//   width: 95%;
//   padding: 0;
// }

header {
  width: 100%;
  z-index: 10;
  position: fixed;
  display: none;
  .header-menu {
    .container{
      .hide-mobile {
        display: none;
      }
    }
  }
}

.history-wrapper {
  .container {
    max-width: 100%;
    padding: 0;
    .history-box {
      width: 33.3%;
      border-right: solid #4e4e4e 1px;
      border-bottom: solid #4e4e4e 1px;
      &:last-child {
        border-right: none;
      }
    }
    .box-4th-5, .box-5th-5 {
      width: 50%;
    }
  }
}

.about-wrapper .container .about-box {
  .about-image {
    margin-bottom: 40px;
  }
}

.flow-wrapper .container {
  .flow-box1 {
    .mobile-collapse {
      width: auto;
      float: none;
      margin-right: 0;
      margin-bottom: 25px;
    }
    .flow-box1-right {
      text-align: center;
      margin: 0 auto;
    }
  }
}

.register-wrapper .container form {
  width: 90%;
  .address-wrap {
    .pref-form {
      width: 48%;
      margin-right: 4%;
    }
    .city-form {
      width: 48%;
      margin-right: 0;
    }
    .block-form {
      margin-top: 10px;
      float: none;
      width: 100%;
    }
  }
}

footer {
  .container {
    h3 {
      font-size: 14px;
      letter-spacing: 1.5px;
      margin-bottom: 10px;
    }
    .footer-top .footer-top-item {
      margin-bottom: 20px;
      .footer-top-menu {
        li {
          width: 28%
        }
        .two-items {
          margin-right: 1%;
          width: 49%
        }
      }
    }
    .copyright {
      font-size: 12px;
      letter-spacing: 1px;
      padding: 15px 0;
    }
  }
}


// スマホサイズ

@media screen and (max-width: 576px) {

  header {
    width: 10%;
    position: absolute;
    top: -100px;
  }

  .top-wrapper .container {
    padding: 0;
    padding-bottom: 40px;
    width: 100%;
    .top-message {
      font-size: 14px;
      letter-spacing: 3px;
    }
    h1 {
      width: 85%;
      font-size: 21px;
      padding: 20px 0;
    }
    p {
      font-size: 13px;
      letter-spacing: 3px;
    }
    .btn a {
      font-size: 13px;
      padding: 10px 30px;
      }
  }

  .history-wrapper .container .history-box {
    padding: 15px 0;
    h4 {
      font-size: 14px;
      margin-bottom: 6px;
    }
    p {
      font-size: 18px;
      letter-spacing: 2px;
    }
  }

  .about-wrapper .container .about-box {
    .about-image {
      img {
        max-width: 60%;
        height: auto;
      }
    }
  }

  footer {
    .container {
      .footer-top .footer-top-item {
        .footer-top-menu {
          li {
            font-size: 12px;
            margin-right: 1%;
            width: 49%
          }
        }
      }
      .copyright {
        font-size: 12px;
        letter-spacing: 1px;
        padding: 15px 0;
      }
    }
  }
}

// @media only screen and (min-device-width:375px) and (max-device-width:667px) {

//   header {
//     position: absolute;
//     top: -100px;
//   }

//   .top-wrapper .container {
//     padding: 0;
//     padding-bottom: 40px;
//     width: 100%;
//     .top-message {
//       font-size: 14px;
//       letter-spacing: 3px;
//     }
//     h1 {
//       width: 85%;
//       font-size: 21px;
//       padding: 20px 0;
//     }
//     p {
//       font-size: 13px;
//       letter-spacing: 3px;
//     }
//     .btn a {
//       font-size: 13px;
//       padding: 10px 30px;
//       }
//   }

//   .history-wrapper .container .history-box {
//     padding: 15px 0;
//     h4 {
//       font-size: 14px;
//       margin-bottom: 6px;
//     }
//     p {
//       font-size: 18px;
//       letter-spacing: 2px;
//     }
//   }

//   .about-wrapper .container .about-box {
//     .about-image {
//       img {
//         max-width: 60%;
//         height: auto;
//       }
//     }
//   }

//   footer {
//     .container {
//       .footer-top .footer-top-item {
//         .footer-top-menu {
//           li {
//             font-size: 12px;
//             margin-right: 1%;
//             width: 49%
//           }
//         }
//       }
//       .copyright {
//         font-size: 12px;
//         letter-spacing: 1px;
//         padding: 15px 0;
//       }
//     }
//   }
// }
