// タブレットサイズ

.container {
  width: 95%;
}

.for-sm {
  display: block;
}

.for-md {
  display: none;
}

header {
  width: 10%;
  position: absolute;
  top: -100px;
}

.history-wrapper {
  .container {
    max-width: 100%;
    padding: 0;
    .history-box {
      width: 33.3%;
      border-right: solid #4e4e4e 1px;
      border-bottom: solid #4e4e4e 1px;
      &:last-child {
        border-right: none;
      }
    }
    .box-4th-5, .box-5th-5 {
      width: 50%;
    }
  }
}

.about-wrapper .container .about-box {
  .about-image {
    margin-bottom: 40px;
  }
}

.flow-wrapper .container {
  .flow-box1 {
    .mobile-collapse {
      width: auto;
      float: none;
      margin-right: 0;
      margin-bottom: 25px;
    }
    .flow-box1-right {
      text-align: center;
      margin: 0 auto;
    }
  }
}

.register-wrapper .container form {
  width: 90%;
  .address-wrap {
    .pref-form {
      width: 48%;
      margin-right: 4%;
    }
    .city-form {
      width: 48%;
      margin-right: 0;
    }
    .block-form {
      margin-top: 10px;
      float: none;
      width: 100%;
    }
  }
}

footer {
  .container {
    h3 {
      font-size: 14px;
      letter-spacing: 1.5px;
      margin-bottom: 10px;
    }
    .footer-top .footer-top-item {
      margin-bottom: 20px;
      .footer-top-menu {
        li {
          width: 28%
        }
        .two-items {
          margin-right: 1%;
          width: 49%
        }
      }
    }
    .copyright {
      font-size: 12px;
      letter-spacing: 1px;
      padding: 15px 0;
    }
  }
}


// スマホサイズ

@media screen and (max-width: 544px) {

  h2 {
    font-size: 18px;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 100px;
  }

  header {
    width: 10%;
    position: absolute;
    top: -100px;
  }

  .caption {
    text-align: center;
    position: relative;
    h2 {
      font-size: 18px;
      letter-spacing: 2px;
      margin-bottom: 10px;
    }
    p {
      font-size: 12px;
      color: #949697;
      letter-spacing: 1px;
    }
    &::before {
      display: block;
      content: ' ';
      width: 84px;
      height: 3px;
      background: linear-gradient(90deg, rgb(3, 39, 84), rgb(162, 6, 122));
      position: absolute;
      left: 50%;
      bottom: -10px;
      margin-left: -42px;
    }
  }

  .top-wrapper {
    padding-top: 60px;
    .container {
      padding: 0;
      padding-bottom: 40px;
      width: 100%;
      .top-message {
        font-size: 13px;
        letter-spacing: 3px;
      }
      h1 {
        font-size: 18px;
        width: 90%;
        padding: 20px 0;
      }
      p {
        font-size: 13px;
        letter-spacing: 3px;
        padding: 0 15px;
      }
      .btn a {
        font-size: 13px;
        padding: 10px 30px;
      }
    }
  }

  .about-wrapper {
    .container{
      padding-top: 85px;
      .about-box {
        .about-text {
          h3 {
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 2px;
            margin-bottom: 12px;
            color: #FEFF2A;
          }
        }
      }
    }
  }

  .history-wrapper .container .history-box {
    padding: 15px 0;
    h4 {
      font-size: 14px;
      margin-bottom: 6px;
    }
    p {
      font-size: 18px;
      letter-spacing: 2px;
    }
  }
  .flow-wrapper {
    width: 100%;
    .container {
      h3 {
        font-size: 18px;
        letter-spacing: 2px;
      }
    }
  }

  .about-wrapper .container .about-box {
    .about-image {
      img {
        max-width: 60%;
        height: auto;
      }
    }
  }

  footer {
    .container {
      .footer-top .footer-top-item {
        .footer-top-menu {
          li {
            font-size: 12px;
            margin-right: 1%;
            width: 49%
          }
        }
      }
      .copyright {
        font-size: 12px;
        letter-spacing: 1px;
        padding: 15px 0;
      }
    }
  }
}

// ブレイクポイントはxs-544-sm-768-md-992-lg-1200-xl
